@layout('layout')


@section('body')
<h1>Article List</h1>


@each(article in articles)
<article>
  <h1>{{ article.title }}</h1>
  <p>{{ article.body }}</p>

  @each(tag in article.tags)
  <a href="{{ route('tag.articles' , { tagId: tag.id }) }}">{{ tag.name }}</a>
  @endeach

  <p>Written by <a
      href="{{ route('user.profile' , { username: article.user.username }) }}">{{ article.user.username }}</a></p>
  <hr>
</article>
@endeach

@endsection
